name: Lint

on: push

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 18.20.4

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Run linters
        run: yarn lint
